.chart{
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 7px 10px 14px -6px rgba(0,0,0,0.64);
    -webkit-box-shadow: 5px 10px 14px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: 5px 10px 14px -6px rgba(0,0,0,0.70);
}

.chartTitle{
    margin-bottom: 20px;
}