.widgetLg{
    flex: 2;
    box-shadow: 7px 10px 14px -6px rgba(0,0,0,0.64);
    -webkit-box-shadow: 5px 10px 14px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: 5px 10px 14px -6px rgba(0,0,0,0.70);
    padding: 20px;
}

.widgetLgTitle{
    font-size: 25px;
    
}

.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}

.widgetLgTh{
    text-align: left;
}

.widgetLgUser{
    display: flex;
    align-items: center;
}

.widgetLgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.widgetLgDate,
.widgetLgAmount{
    font-weight: 400;
}

.pending{
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #ebf1fe;
    color: #3bb0de;
    cursor: pointer;
}

.approved{
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #e5faf2;
    color: #3bb077;
    cursor: pointer;
}

.Declined{
    border: none;
    padding: 7px 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #fff0f1;
    color: #d95087;
    cursor: pointer;
}
